<!--{include header.htm}-->

<style>
#ul1 {width: 400px; padding: 0px; margin: 0px;}
#ul1 li{width: 400px; height: 30px; line-height: 30px; overflow: hidden; padding: 0px; margin: 0px; display: block;}
</style>
<div class="width">
	<ul id="ul1">
		<li><a href="http://www.baidu.com/">AAAAAA</a></li>
		<li><a href="http://www.baidu.com/">BBBBBB</a></li>
		<li><a href="http://www.baidu.com/">CCCCCC</a> <a href="" class="icon icon-edit"></a><a href="" class="icon icon-delete"></a></li>
		<li><a href="http://www.baidu.com/">DDDDDD</a></li>
		<li><a href="http://www.baidu.com/">EEEEE</a></li>
		
		<li>AAAAAA</li>
		<li>BBBBBB</li>
		<li>CCCCCC</li>
		<li>DDDDDD</li>
		<li>EEEEEE</li>
	</ul>
</div>

<!--{include footer.htm}-->
<script type="text/javascript" src="view/js/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript">
	$("#ul1").dragsort({dragEnd: function(s) {
		var data = $("#ul1 li").map(function() { return $(this).children().html(); }).get();
		var s = data.join("|");
		alert(s);
	}});
</script>

</body>
</html>