<!--{include header.htm}-->

<style>
#ul1 {width: 400px; padding: 0px; margin: 0px;}
#ul1 li{width: 400px; height: 30px; line-height: 30px; overflow: hidden; padding: 0px; margin: 0px; display: block;}
</style>
<div class="width">
	<ul id="ul1">
		<li><a href="http://www.baidu.com/">AAAAAA</a></li>
		<li><a href="http://www.baidu.com/">BBBBBB</a></li>
		<li><a href="http://www.baidu.com/">CCCCCC</a></li>
		<li><a href="http://www.baidu.com/">DDDDDD</a></li>
		<li><a href="http://www.baidu.com/">EEEEE</a></li>
		
		<li>AAAAAA</li>
		<li>BBBBBB</li>
		<li>CCCCCC</li>
		<li>DDDDDD</li>
		<li>EEEEEE</li>
	</ul>
</div>


<!--{include footer.htm}-->

<script type="text/javascript">

$.fn.drag = function(settings) {
	if(!settings) settings = {};
	// 此处 this 为 jquery 集合
	this.each(function() {
		// 此处 this 为 HTMLElement 元素
		settings = $.extend({
			showtitle: true,
		}, settings);
		
	 	this.drag = new $.drag(this, settings);
	});
	return this;
};
$.fn.to_absolute = function() {
	this.each(function() {
		$(this).width($(this).width());
		$(this).height($(this).height());
		$(this).css('position', 'absolute');
	});
	return this;
}

$.fn.to_relative = function(ele) {
	this.each(function() {
		$(this).css('position', 'static').insertAfter(ele);
		$(ele).remove();
	});
	return this;
}

$.drag = function(ele, settings) {
	//var jfirstchild = $(':first-child', ele);
	ele.ismoving = 1;	// 正在拖动
	ele.movingobj = null;	// 正在拖动的元素
	ele.lastobj = null;	// 上一个激活的元素
	
	$(ele).children().each(function() {
		var _this = this;
		this.jcorn = $('<span class="icon icon-move" style="position: absolute; z-index: 201; cursor: pointer"></span>').appendTo('body');// 创建 move 图标
		$(this).mouseover(function() {
			if(this.htime) {
				this.htime_func(this);
				clearTimeout(this.htime);
				 _this.htime = null;
			}
			// 清除上一个对象
			if(ele.lastobj && ele.lastobj.htime) {
				this.htime_func(ele.lastobj);
				clearTimeout(ele.lastobj.htime);
				ele.lastobj.htime = null;
			}
			
			if(!this.jempty) {
				var pos = $(this).position();
				this.left = pos.left;
				this.top = pos.top;
				this.width = $(this).width();
				this.height = $(this).height();
				
				this.jcorn.css({'left': (this.left+this.width-8)+'px', 'top': (this.top - 8)+'px'}).show(); // 定位 jcorn, 假定 parentOffset 元素都是 body
				this.jempty = $(this).clone().html('<span class="border bg2" style="width: '+(this.width-2)+'px; height: '+(this.height-2)+'px; overflow: hidden; display: block;"></span>').insertAfter(this);
				$(this).to_absolute().css({'left': this.left+'px', 'top': this.top+'px', 'z-index': '200', 'color': '#004400'}).show();
				
			} else {
				this.jcorn.css({'left': (this.left+this.width-8)+'px', 'top': (this.top - 8)+'px'}).show();
				this.jempty = $(this).clone().html('<span class="border bg2" style="width: '+(this.width-2)+'px; height: '+(this.height-2)+'px; overflow: hidden; display: block;"></span>').insertAfter(this);
				$(this).to_absolute().css({'left': this.left+'px', 'top': this.top+'px', 'z-index': '200', 'color': '#004400'}).show();
			}
			
			return true;
		});
		
		// 鼠标移开，还原状态
		this.htime_func = function (obj) {
			$(obj).to_relative(obj.jempty[0]);
			obj.jcorn.hide();
		};
		
		$(this).mouseout(function() {
			if(!this.htime) {
				this.htime = setTimeout(function() {_this.htime_func(_this); _this.jcorn.hide(); _this.htime = null; trace('111');}, 1000);
				ele.lastobj = this;
			}
		});
		
		
		this.jcorn.unbind('mouseover').mouseover(function() {
			if(_this.htime) {
				clearTimeout(_this.htime);
				_this.htime = null;
			}
			return false;
		});
		this.jcorn.unbind('mouseout').mouseout(function() {
			if(!_this.htime) {
				_this.htime = setTimeout(function() {_this.htime_func(_this); _this.jcorn.hide(); _this.htime = null; trace('222');}, 1000);
				ele.lastobj = _this;
			}
			trace('jcorn ...');
			return false;
		});
		
		// 开始拖动
		this.jcorn.unbind('mousedown').mousedown(function() {
			// 清理定时器
			
		});
		
		this.jcorn.unbind('mouseup').mouseup(function() {
			
		});
	});
	
}

$('#ul1').drag({
	
});
</script>

</body>
</html>